
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="page-header">
            <h3 translate="PAYPAL_COMMISSIONS_CALCULATOR"></h3>
          </div>
          <div class="col-xs-5">
            <label translate="THE_COMMISSIONS"></label>
            <div class="input-group"><span class="input-group-addon" id="basic-addon1">%</span>
              <input class="form-control" type="number" step="0.1" min="0.1" ng-model="vm.calc.percentage" aria-describedby="basic-addon1"/><span class="input-group-addon" id="basic-addon1">+ $</span>
              <input class="form-control" type="number" step="0.1" min="0.1" ng-model="vm.calc.commission" aria-describedby="basic-addon1"/>
            </div>
          </div>
          <div class="col-xs-5"></div>
          <div class="col-xs-2">
            <button class="form-control btn btn-primary" type="button" ng-click="vm.init()" translate="RESET"></button>
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="form-group col-xs-7">
            <label translate="RECEIVE"></label>
            <div class="input-group"><span class="input-group-addon" id="basic-addon1" translate="TO_RECEIVE"></span>
              <input class="form-control" type="number" step="0.1" min="0.1" ng-model="vm.calc.SToReceive" aria-describedby="basic-addon1"/>
            </div>
          </div>
          <div class="form-group col-xs-7">
            <div class="input-group"><span class="input-group-addon" id="basic-addon1" translate="MUST_SEND"></span>
              <input class="form-control" type="text" ng-model="vm.calc.SToSend" aria-describedby="basic-addon1" readonly="readonly"/>
            </div>
          </div>
          <div class="form-group col-xs-7">
            <div class="input-group"><span class="input-group-addon" id="basic-addon1" translate="COMMISSION"></span>
              <input class="form-control" type="text" ng-model="vm.calc.SToComision" aria-describedby="basic-addon1" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="panel-footer"></div>
        <div class="panel-body">
          <div class="form-group col-xs-7">
            <label translate="IF_THEY_ARE_SENT"></label>
            <div class="input-group"><span class="input-group-addon" id="basic-addon1" translate="IF_YOU_SEND"></span>
              <input class="form-control" type="number" step="0.1" min="0.1" ng-model="vm.calc.RToReceive" aria-describedby="basic-addon1"/>
            </div>
          </div>
          <div class="form-group col-xs-7">
            <div class="input-group"><span class="input-group-addon" id="basic-addon1" translate="YOU_RECEIVE"></span>
              <input class="form-control" type="text" ng-model="vm.calc.RToSend" aria-describedby="basic-addon1" readonly="readonly"/>
            </div>
          </div>
          <div class="form-group col-xs-7">
            <div class="input-group"><span class="input-group-addon" id="basic-addon1" translate="COMMISSION"></span>
              <input class="form-control" type="text" ng-model="vm.calc.RToComision" aria-describedby="basic-addon1" readonly="readonly"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>