script(type='text/javascript', src='app/app.js')
script(type='text/javascript', src='app/modules/core/core.module.js')
script(type='text/javascript', src='app/modules/core/core.routes.js')
script(type='text/javascript', src='app/modules/calculator/calculator.module.js')
script(type='text/javascript', src='app/modules/calculator/calculator.routes.js')
script(type='text/javascript', src='app/modules/calculator/calculator.controllers.js')