link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
link(href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
link(rel='stylesheet', type='text/css', href='node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css')
link(rel='stylesheet', type='text/css', href='node_modules/toastr/build/toastr.min.css')
link(rel='stylesheet', type='text/css', href='node_modules/angular-loading-bar/build/loading-bar.min.css')
link(rel='stylesheet', type='type/css', href='node_modules/angular-loading-bar/build/loading-bar.min.css')
link(rel='stylesheet', type='text/css', href='src/style/css/style.css')