link(rel='stylesheet', type='text/css', href='node_modules/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css')
link(rel='stylesheet', type='text/css', href='node_modules/toastr/build/toastr.min.css')
link(rel='stylesheet', type='text/css', href='node_modules/angular-loading-bar/build/loading-bar.min.css')
link(rel='stylesheet', type='text/css', href='node_modules/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='src/style/css/style.css')