script(type='text/javascript', src='node_modules/jquery/dist/jquery.min.js')
script(type='text/javascript', src='node_modules/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='node_modules/angular/angular.js')
script(type='text/javascript', src='node_modules/angular-route/angular-route.min.js')