doctype html
html(lang='en', xml:lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='msapplication-TileColor', content='#5bc0de')
        title Paypal Calculator
        include ./includes/styles.pug
    body(ng-app='app')
        div(ng-view='', ng-cloak='')
        include ./includes/vendors.pug
        include ./includes/modules.pug