.container-fluid
    .row
        .col-sm-3.col-md-4
        .col-xs-12.col-sm-6.col-md-4
            .panel.panel-primary
                .panel-body
                    .page-header
                        h3(translate="PAYPAL_COMMISSIONS_CALCULATOR")
                    .col-xs-12.col-sm-8.col-md-9
                        label(translate="THE_COMMISSIONS")
                        .input-group
                            span#basic-addon1.input-group-addon %
                            input.form-control(type='number', step='0.1', min='0.1', ng-model='vm.calc.percentage', aria-describedby='basic-addon1')
                            span#basic-addon1.input-group-addon + $
                            input.form-control(type='number', step='0.1', min='0.1', ng-model='vm.calc.commission', aria-describedby='basic-addon1')
                    .col-xs-12.col-sm-4.col-md-3
                        button.form-control.btn.btn-primary(type='button' ng-click='vm.init()' translate="RESET")
            .panel.panel-primary
                .panel-body
                    .form-group.col-xs-12.col-sm-10.col-md-10
                        label(translate="RECEIVE")
                        .input-group
                            span#basic-addon1.input-group-addon(translate="TO_RECEIVE")
                            input.form-control(type='number', step='0.1', min='0.1', ng-model='vm.calc.SToReceive',  aria-describedby='basic-addon1')
                    .form-group.col-xs-12.col-sm-10.col-md-10
                        .input-group
                            span#basic-addon1.input-group-addon(translate="MUST_SEND")
                            input.form-control(type='text', ng-model='vm.calc.SToSend', aria-describedby='basic-addon1', readonly)
                    .form-group.col-xs-12.col-sm-10.col-md-10
                        .input-group
                            span#basic-addon1.input-group-addon(translate="COMMISSION")
                            input.form-control(type='text', ng-model='vm.calc.SToComision', aria-describedby='basic-addon1', readonly)
                .panel-footer
                .panel-body
                    .form-group.col-xs-12.col-sm-10.col-md-10
                        label(translate="IF_THEY_ARE_SENT")
                        .input-group
                            span#basic-addon1.input-group-addon(translate="IF_YOU_SEND")
                            input.form-control(type='number', step='0.1', min='0.1', ng-model='vm.calc.RToReceive', aria-describedby='basic-addon1')
                    .form-group.col-xs-12.col-sm-10.col-md-10
                        .input-group
                            span#basic-addon1.input-group-addon(translate="YOU_RECEIVE")
                            input.form-control(type='text', ng-model='vm.calc.RToSend', aria-describedby='basic-addon1', readonly)
                    .form-group.col-xs-12.col-sm-10.col-md-10
                        .input-group
                            span#basic-addon1.input-group-addon(translate="COMMISSION")
                            input.form-control(type='text', ng-model='vm.calc.RToComision', aria-describedby='basic-addon1', readonly)
        .col-sm-3.col-md-4
